.cell{
    display:flex;
    flex-direction: column;    
    height: 100%;  
    width: 100%;   
    border: 1px solid black;  
}


.cell-header{
    height:20%;
    width:100%;
}

.red{
    background-color: red;
}

.blue{
    background-color: blue;
}

.brown{
    background-color: brown;
}

.cell-body{
    height: 80%;
    width:100%;   
    text-align: center;
    background-color:white;
    /* display: flex;
    flex-direction: column;
    align-content: space-between; */
    position: relative;
}

img{    
    position: absolute;
    left: 50%;    
    top:50%;
    margin-left: -51px;
    margin-top: -38px;
    opacity: 0.5;
}


/* p{
    margin: 0;
    padding: 0;
} */

