.game{
    background-color: black;
    width:100%;
    height:100%;
    display: flex;
    flex-direction: row;       
}
.game-info{
    background-color: pink;  
    width:30%; 
    padding: 1rem;
    padding-top: 2rem;    
}


.game-player{
    background-color: yellow;
    width:100%;
    height:20%;
}


.game-info h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 1rem;
}

p.detail-item {
    border-bottom: solid 1px;
    border-color: #BBBCCB;
    font-size: .87rem;
    padding-bottom: .5rem;
    font-weight: 400;
}

.detail-item span {
    font-weight: bold;
}