.game{
    background-color: black;
    width:100%;
    height:100%;
    display: flex;
    flex-direction: row;       
}



.game-player{
    background-color: yellow;
    width:100%;
    height:20%;
}


.info{
    width: 30%;
    background-color: azure;      
    padding: 1rem;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;   
    
}

.info h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 1rem;
}

.player-info-dice{
    background-color: darkmagenta; 
    display: flex;
    flex-direction: column;
}

.player-info{    
    flex-grow: 1;
}

.dice{               
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.games-list-container{
    display:flex;
    flex-direction: column;

}

.games-list{
    height: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    overflow-y: scroll;
}

p.detail-item {
    border-bottom: solid 1px;
    border-color: #BBBCCB;
    font-size: .87rem;
    padding-bottom: .5rem;
    font-weight: 400;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

p.detail-item span {
    font-weight: bold;
}


.game-board{
    background-color: green;
    width:70%;
    height: 100%;    
    display: flex;   
    flex-direction: column;    
}

.up-row{
    height: 9.0909090909090909090909090909091%;
    width: 100%;    
    display:flex;
    flex-direction: row;
}

.down-row{
    height: 9.0909090909090909090909090909091%;
    width: 100%;    
    display:flex;
    align-items: flex-end;   
    flex-direction: row-reverse;    
}

.center-container{
    height: 81.818181818181818181818181818182%;
    display: flex;
    flex-direction: row;   
    justify-content: space-between;
}

.left-col{    
    width: 9.0909090909090909090909090909091%;   
    display:flex;
    flex-direction: column-reverse;
}

.right-col{
    
    width: 9.0909090909090909090909090909091%;   
    display:flex;
    flex-direction: column;    
}

.game-zone{
    width: 81.818181818181818181818181818182%;
    height: 100%;
    background-color: lightgreen;
    display: flex;
    justify-content: center;
    align-items: center;
}


